@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.light-mode {
    --primary: #18a0fb;
    --secondary: #4ce0d2;
    --neutral1: #c4c4c4;
    --neutral2: #ffffff;
    --accent1: #e63946;
    --accent2: #f5724f;
}

.dark-mode {
    --primary: #a348ab;
    --secondary: #934bda;
    --neutral1: #66657d;
    --neutral2: #222831;
    /* or maybe #282c34 */
    --accent1: #e88873;
    --accent2: #32a652;
}

.main-window {
    background-color: var(--neutral2);
    color: var(--neutral1);
    width: 100vw;
    height: 100vh;
}