.mbutton {
  font-size: 2rem;
  min-height: 90px;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--primary),
    var(--accent1)
  );
  float: right;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.mbutton span {
  color: var(--font-color);
  background-image: linear-gradient(to right, var(--primary), var(--accent1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
}

.mbutton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  transform: scale(0);
  z-index: -1;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--primary), var(--accent1));
  transition: transform 0.6s ease;
}

.mbutton[data-loading='true'] {
  pointer-events: none;
}

.mbutton:focus::before,
.mbutton:hover::before,
.mbutton[data-loading='true']::before {
  transform: scale(2);
}

.mbutton:focus span,
.mbutton:hover span {
  -webkit-text-fill-color: white;
}
