.react-flow__controls {
  bottom: auto !important;
  top: 10px;
  border: none !important;
  box-shadow: none !important;
}

.react-flow__controls-button.react-flow__controls-zoomout,
.react-flow__controls-button.react-flow__controls-zoomin,
.react-flow__controls-button.react-flow__controls-fitview {
  width: 36px;
  height: 36px;
  margin: 0.7rem 0;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 8%); /* change here */
  border-radius: 50%;
  fill: white !important;
  background-color: var(--primary);
  border: none;
  transition: filter 0.2s linear;
}

.react-flow__controls-button.react-flow__controls-zoomout:hover,
.react-flow__controls-button.react-flow__controls-zoomin:hover,
.react-flow__controls-button.react-flow__controls-fitview:hover {
  filter: brightness(115%);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

.react-flow__controls-button svg {
  max-width: 20px !important;
  max-height: 20px !important;
}

.react-flow__minimap {
  background-color: var(--neutral2) !important;
  right: 30px;
  bottom: 20px;
}

.custom-node {
  background: var(--neutral2);
  color: #fff;
  border-color: #ff0072;
}

.custom-node.zoomed-out {
  font-size: 1.5rem;
}

.input-node {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  width: 100%;
  text-align: center;
  font-family: "Oxygen";
  padding: none;
  margin: none;
}

.input-node:focus {
  outline: none;

}

.custom-node:not(.zoomed-out)::before {
  content: attr(data-title);
  position: absolute;
  left: 0px;
  top: -20px;
  width: 100px;
  height: 20px;
  z-index: -1;
  padding: 2px;
  border: 1px solid #ff0072;
  border-radius: 10px 10px 0 0;
  color: var(--neutral1);
}

.selected .custom-node::before {
  box-shadow: 0 0 0 1px #ff0072;
}

.selected .custom-node {
  box-shadow: 0 0 0 2px #ff0072;
}

.rainbow-buttons {
  display: flex;
  position: absolute;
  left: -27px;
  top: -60px;
  z-index: 11;
}

.zoomed-out .rainbow-buttons {
  left: -70px;
  top: -60px;
}

.rainbow-buttons .rainbow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff0072;
  padding: 1rem;
  color: white;
  margin: 0 0.5rem;
  cursor: pointer;
  animation: balloon 0.2s ease-in forwards;
  opacity: 0;
  position: relative;
  transition: filter .3s ease-in, font-size .2s ease;
}

.zoomed-out .rainbow-buttons .rainbow-button {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
}

.rainbow-buttons .rainbow-button:nth-child(2) {
  animation-delay: 0.1s;
  top: -20px;
}
.rainbow-buttons .rainbow-button:nth-child(3) {
  animation-delay: 0.2s;
  top: -20px;
}
.rainbow-buttons .rainbow-button:last-child {
  animation-delay: 0.3s;
}


.rainbow-buttons .rainbow-button:hover {
  filter: brightness(1.2);
  font-size: 1.2rem;
}

.header-buttons {
  position: fixed;
  left: 20px;
  bottom: 0;
  display: flex;
  z-index: 10;
}

.header-buttons .button {
  width: 100px;
  background-color: var(--secondary);
  height: 80px;
  box-shadow: 1px -1px 8px 2px rgba(0, 0, 0, 0.4);
  transform: translateY(30px);
  transition: transform .3s ease;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
}

.header-buttons .button span{
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease;
  user-select: none;
}

.header-buttons .button svg{
  color: var(--neutral2);
  font-size: 2rem;
}

.header-buttons .button:hover {
  transform: translateY(0);
}

.header-buttons.fetching .button{
  filter: grayscale(5);
  pointer-events: none;
}

.header-buttons .button:hover span{
  opacity: 1;
  transform: translateY(0);
}
.header-buttons div:first-child {
  border-top-left-radius: 10px;
}
.header-buttons div:last-child {
  border-top-right-radius: 10px;
}
@keyframes balloon {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
