.mapp {
  --header-height: 60px;
}

.mapp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  width: 100%;
}

.mapp-content {
  display: flex;
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-diagram);
  overflow: hidden;
}

.separator {
  background-color: var(--neutral2);
  min-width: 20px;
  height: 100%;
  position: relative;
  z-index: 11;
  cursor: pointer;
}

.separator::before {
  content: "";
  width: 30px;
  height: 80px;
  position: absolute;
  background-color: var(--neutral2);
  bottom: 0px;
  left: -25px;
  clip-path: polygon(100% 0, 100% 57%, 100% 100%, 0 100%, 0 55%);
}

.separator:hover .icon {
  animation: swing 2s infinite;
}

.separator .icon {
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  left: -15px;
}

.separator .icon svg{
  transition: all .4s ease-in;
}

@keyframes swing {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}
