.list-wrapper {
  width: 100%;
  border-radius: 5px;
  overflow-y: auto;
  position: relative;
  height: 100%;
}

.list-item {
  height: 80px;
  box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--neutral2);
  padding: 2rem;
  transition: filter 0.3s ease;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0.6rem 0.5rem;
  border-radius: 20px;
  height: 40px;
  justify-content: flex-start;
}

.list-item .pre-title{
  content: '';
  width: 80px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--accent2);

}

.list-item .pre-title .circle{
  width: 25px;
  height: 25px;
  background-color: var(--neutral2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}


.list-item .buttons {
  position: absolute;
  font-size: 2.5rem;
  right: -250px;
  width: 250px;
  justify-self: flex-end;
  transform: translateX(50px);
  height: 100%;
  background-image: linear-gradient(to right, var(--accent1), var(--secondary));
  color: var(--neutral2);
  transition: right 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.list-item .buttons .button:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.list-item:hover .buttons {
  right: 0;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item .title-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-size: .8rem;
  user-select: none;
}

.list-item .title {
  font-size: 2rem;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-tran-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.item-tran-exit {
  opacity: 1;
  transform: translateX(-50%);
  transition: all 0.25s ease-in; /* not needed */
}
.item-tran-exit.item-tran-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in;
}

.item-tran-enter.item-tran-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.25s ease-in;
}

.no-data {
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px #000;
}
.no-data svg {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
  .list-item .title {
    font-size: 1.6rem;
  }
}
