.home-wrapper {
  height: 100%;
  width: 100%;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--neutral1);
  perspective: 500px;
  height: calc(100% - 70px);
  overflow: auto;
}

.greeting h1 {
  font-size: 72px;
  width: 50vw;
  background-clip: text;
  background: linear-gradient(120deg, var(--primary), var(--accent1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 1px rgba(51, 51, 51, 0.363));
}

.footer {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
}
